<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This is a postal rate calculator!</title>
</head>
<body>
    <form action="/getRate" method="post">
        <label for="">Package weight:</label><input type="text"><br>
        <label for="">Package type:</label>
        <input type="radio" name="t" value="stamped"> Letters (Stamped) <br>
        <input type="radio" name="t" value="metered"> Letters (Metered) <br>
        <input type="radio" name="t" value="large"> Large Envelopes (Flats) <br>
        <input type="radio" name="t" value="retail"> First-Class Package Service—Retail <br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <p>Your package weighs <%= weight %> and is of type <%= type %>.</p>
    <p>Your package will cost $<%= cost %> to deliver.</p>
</body>
</html>